/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navbar deign starts here */
.nav-logo{
    text-align: left;
    margin:-80px auto;
}

.navbar{
    position: relative;
}

.navigation{
    display: inline;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    position:absolute;
    top:100px;
    /* padding:0 -60px; */
    /* margin:-10px -10px; */
    

    
}

.navigation a{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin:10px ;
    padding: 5px 15px;
    /* margin: 20px 0; */
    /* background-color: transparent; */
  
}

/* navbar design ends here */